:root {
  --bg-main: #131722;

  --ligt-bg: #24baef;

  --main-color: #fff;
}

body {
  background-color: #030509;
  color: var(--main-color);
}

input {
  background-color: transparent !important;
  color: #fff !important;
}

.logout {
  cursor: pointer;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
}

.list li a:hover {
  color: #24baef;
}

.page-link {
  cursor: pointer;
}
